text {
  user-select: none;
}

label {
  user-select: none;
}

.checkName{
  font-size: 26px;
}

.checkbox-square {
  width: 13px;
  height: 13px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}


.class{
  padding-top: 15px;
  padding-bottom: 15px;
}

.NobelPhantasm {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.type {
  padding-left: 50px;
}

